body{
  background-color: #1D1A05
}
ul{
  background-color: #BC0808;
}
li{
  display: inline-block;
  list-style: none;
  padding: 20px;
}
a{
  color: white;
  padding: 10px;
}
a:hover{
  color: black;
}

.picture{
  display: inline-block;
}
.panda{
   height: 210px;
   border: 5px solid #656060;
   margin: 14px;
}
